{% extends 'base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class='btn btn-primary' type="submit">Отправить</button>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="file">Выбрать файл</label>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}